name: CI Docker Build & Push   # Nom du workflow visible dans GitHub Actions

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: self-hosted
    # Pour utiliser un runner GitHub fourni par GitHub, décommente la ligne suivante :
    # runs-on: ubuntu-latest

    env:
      IMAGE_NAME: travaildocker
      IMAGE_TAG: 1.0.1
      DOCKER_HUB_REGISTRY: docker.io/fatouseck98

    steps:
      # Étape 1 : Récupérer le code
      - name: Récupération du code
        uses: actions/checkout@v4

      # Étape 2 : Connexion à Docker Hub
      - name: Connexion à Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login \
          -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      # Étape 3 : Construire l'image Docker
      - name: Build de l’image Docker
        run: |
          docker build -t $DOCKER_HUB_REGISTRY/$IMAGE_NAME:$IMAGE_TAG .

      # Étape 4 : Tester l'image Docker
      - name: Test de l’image Docker
        run: |
          docker image ls $DOCKER_HUB_REGISTRY/$IMAGE_NAME:$IMAGE_TAG

      # Étape 5 : Push de l'image Docker sur Docker Hub
      - name: Push de l’image Docker
        run: |
          docker push $DOCKER_HUB_REGISTRY/$IMAGE_NAME:$IMAGE_TAG
